<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <title>Cadastre-me</title>
  </head>
  <body>
    <nav style="background-color: aquamarine !important; padding: 0px">
      <div>
        <span>Cadastre-me</span>
      </div>
    </nav>

    <form action="{% url 'listagem_usuario' %}" method="post">
      <div class="container">
        <h1>Cadastro de Usuários</h1>
        Nome<input name="nome" type="text" /> Idade<input
          name="idade"
          type="text"
        />
        <button>Enviar</button>
      </div>
    </form>
  </body>
</html>
<!-- parei no 16:28 -->
